* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



body {
	position: relative;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 1.5;
	background-color: var(--bgDark-color);
	color: white;

}

img {
	max-width: 100%;
}

a {
	color: black;
	text-decoration: none;
}

li {
	list-style-type: none;
}


.text-xxl {
	font-size: 3rem;
	line-height: 1.2;
	font-weight: 600;
	margin: 40px 0 20px;
}

.text-xl {
	font-size: 2.2rem;
	line-height: 1.4;
	font-weight: normal;
	margin: 40px 0 40px;
}

.text-lg {
	font-size: 1.8rem;
	line-height: 1.4;
	font-weight: normal;
	margin: 30px 0 20px;
}

.text-md {
	font-size: 1.2rem;
	line-height: 1.4;
	font-weight: normal;
	margin: 20px 0 10px;
}

.text-sm {
	font-size: 0.9rem;
	line-height: 1.4;
	font-weight: normal;
	margin: 10px 0 5px;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.container-md {
	width: 80%;
	margin: 0 auto;
}

.footer {
	margin-top: 100px;
	margin-bottom: 50px;
}



.mostrarFavorite {
	transition: color 0.5s ease, transform 0.5s ease;

}





.main__container {
	display: flex;
	justify-content: center;
	height: auto;
	min-height: 60vh;
	align-items: center;
	position: relative;
}

.gmusculares {
	text-align: center;
	height: 100%;
	position: relative;
}



.gmusculares__container {
	display: grid;
	grid-template-columns: repeat(2, auto);
	/* Dos columnas de ancho automático */
	grid-template-rows: repeat(2, auto);
	/* Dos filas de alto automático */
	justify-content: center;
	/* Centrar horizontalmente los elementos */
	align-content: center;
	/* Centrar verticalmente los elementos */
	gap: 2em;
	width: 100%;
	height: 100%;
	/* Asegura que el contenedor tenga altura para que se centre verticalmente */
}

.gmuscular-card {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: column;
	border: 1px solid var(--primary-color);
	background-color: #111;
	width: 300px;
	height: 300px;
	padding: 2em;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	-webkit-border-radius: 15px;
	gap: 2em;
	cursor: pointer;
	box-shadow: rgba(114, 114, 114, 0.299) 0px 0px 15px 2px inset;
	transition: 0.4s;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
}

.gmuscular-card:hover, .level-card:hover {
	scale: 1.03;
}


.gmuscular-card__thumbnail {
	width: 100%;
	height: 100%;
}

.gmuscular-card img {
	width: 150px !important;
	height: 150px !important;
	object-fit: cover;
}

.gmuscular-card h2 {
	margin: 0;
	font-weight: 500;
}

.level-section {
	text-align: center;
	height: 100%;
	display: none;
}

.level-section h1 {
	margin: 2em 0 2.5em 0;
}

.level__container {
	display: grid;
	grid-template-columns: repeat(2, auto);
	/* Dos columnas de ancho automático */
	grid-template-rows: repeat(2, auto);
	/* Dos filas de alto automático */
	justify-content: center;
	/* Centrar horizontalmente los elementos */
	align-content: center;
	/* Centrar verticalmente los elementos */
	gap: 2em;
	width: 100%;
	height: 100%;
	/* Asegura que el contenedor tenga altura para que se centre verticalmente */

}

.level-card {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #111;
	width: 400px;
	height: 400px;
	padding: 2em;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	-webkit-border-radius: 15px;
	gap: 1em;
	cursor: pointer;
	transition: .4s;
	box-shadow: rgba(114, 114, 114, 0.299) 0px 0px 15px 2px inset;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-ms-transition: .4s;
	-o-transition: .4s;
	border: 1px solid var(--primary-color);
}

.level-card:hover img {
	box-shadow: var(--primary-color) 0px 0px 5px 2px;
}

.level-card__thumbnail {
	width: 100%;
	height: 100%;
}

.level-card img {
	transition: .5s;
	width: 200px !important;
	height: 200px !important;
	object-fit: cover;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
}


.loader {
	display: none;
	width: 100px;
	height: 100px;
	padding: 8px;
	aspect-ratio: 5;
	border-radius: 50%;
	background: var(--primary-color);
	--_m:
		conic-gradient(#0000 10%, #000),
		linear-gradient(#000 0 0) content-box;
	-webkit-mask: var(--_m);
	mask: var(--_m);
	-webkit-mask-composite: source-out;
	mask-composite: subtract;
	animation: l3 1s infinite linear;
}

@keyframes l3 {
	to {
		transform: rotate(1turn)
	}
}




.cards__main {
	align-self: flex-start;
	display: none;
	flex-direction: column;
	position: relative;
}

.cards__titles {
	flex-wrap: wrap;
	gap: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
}

.cards__titles h1 {
	margin-bottom: 0;
}

.cards__titles p {
	width: 100%;
}

.cards__titles .buttons {
	display: flex;
	gap: 1em;
}

.buttons:nth-child(2) i {
	padding-left: .2em !important;
}




.card__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}

.routine {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #111;
	height: auto;
	padding: 4em 3em;
	margin: 2em;
	border: 2px solid var(--primary-color);
	gap: 2em;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
}


.routine__titles {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: .5em;
	padding-bottom: 1em;
}


.routine__titles h2 {
	display: inline-block;
	margin: 0;
}




.card {
	min-height: 450px;
	width: 300px;
	display: flex;
	justify-content: flex-start;
	align-items: left;
	flex-direction: column;
	border: 1px solid var(--primary-color);
	padding: 0;
	;

	gap: 1em;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	cursor: pointer;
	transition: 0.5s;
}

.card:hover {
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
}


.information {
	display: flex;
	gap: .5em;
	padding: 0 1em;
	justify-content: left;
	align-items: flex-start;
	flex-wrap: wrap;
}

.information p {
	border: 1px solid var(--primary-color);
	padding: 5px 15px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}

.card h3 {
	margin: 0;
	font-size: 22px;
	padding: 0 1em;
}


.card img {
	width: 100%;
	height: 280px;
	object-fit: cover;
	border-radius: 12px 12px 0 0;
	-webkit-border-radius: 12px 12px 0 0;
	-moz-border-radius: 12px 12px 0 0;
	-ms-border-radius: 12px 12px 0 0;
	-o-border-radius: 12px 12px 0 0;
}

.card__expand {

	position: absolute;
	width: 800px;
	min-height: 800px;
	max-height: 90vh;
	background-color: rgb(0, 0, 0);
	z-index: 7777;
	right: 50%;
	transform: translateX(50%);
	-webkit-transform: translateX(50%);
	-moz-transform: translateX(50%);
	-ms-transform: translateX(50%);
	-o-transform: translateX(50%);
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	color: rgb(255, 255, 255);
	text-align: center;
	gap: 2em;
	border: 2px solid var(--primary-color);
	overflow-y: scroll;

}

.card__expand h3 {
	margin: 15px 0;
	text-transform: uppercase;
	padding: 0 2em;
}

.card__expand i {
	position: absolute;
	top: 15px;
	right: 20px;
	color: rgb(0, 0, 0);
	font-size: 35px;
	cursor: pointer;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}

.card__expand i:hover {
	color: #e63b3b;
	transform: rotate(180deg);
	-webkit-transform: rotate();
	-moz-transform: rotate();
	-ms-transform: rotate();
	-o-transform: rotate();
}



.card__expand-thumbnail {
	width: 100%;
	background-color: white;
}

.card__expand-img {
	width: 40%;
	height: 300px;
	object-fit: cover;
	padding-top: 2em;

}

.card__expand-information {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1.2em;
}

.card__expand-instructions{
	text-align: left;
}

.expand-information__group {
	width: 60%;
	display: grid;
	padding-bottom: 1em;
	grid-template-columns: 1fr auto;
	text-align: left;
	gap: 1.2em;
	border-bottom: 1px solid var(--primary-color);
}

.expand-information__group h4 {
	padding: 5px 15px;

}

.secondary-muscles {
	display: flex;
	gap: .3em;
}


.modal__background {

	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.786);

	z-index: 2000;
	transition: 0.3s all ease;
	justify-content: center;
	align-items: center;
}



.expand-information__group p {
	border: 1px solid var(--primary-color);
	padding: 5px 15px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	width: auto;
}

.expand-information__muscles {
	display: flex;
	gap: .3em;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.target {
	background-color: var(--primary-color);
	border: none !important;
	color: var(--text-colorSecondary) !important;
}

.card__expand-instructions {
	width: 60%;
	margin: 0 auto;
	padding-bottom: 2em;
}

.no-routines {
	text-align: center;
}



@media only screen and (max-width: 767px) {


	.gmusculares__container {

		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, 1fr);

	}

	.gmuscular-card {
		margin: 0 auto;

	}

	.level__container {
		grid-template-columns: 1fr;
	}


	.cards__titles {
		justify-content: center;
		text-align: center;
		gap: 2.5em;
	}

	.routine {
		grid-template-columns: 1fr;

	}

	.routine__titles {
		gap: 1em;
		justify-content: center;
		text-align: center;
	}

	.routine .card {
		margin: 0 auto;
	}

	.card__expand {
		width: 90%;
		height: 700px;
		overflow-y: scroll;
		margin: 50px 0 !important;
	}


}


@media only screen and (max-width: 575px) {

	.buttons {
		justify-content: center;
		flex-wrap: wrap;
	}

	.routine {
		padding: 1em;
	}

	.card {
		width: 270px;
	}

	.card__expand {
		text-align: left;
	}

	.card__expand h3 {
		font-size: 2em;
	}

	.card__expand img {
		width: 100%;
		object-fit: contain;
	}

	.expand-information__group {
		grid-template-columns: 1fr;
	}



	.expand-information__muscles {
		justify-content: flex-start;
		gap: .5em;
	}

	.secondary-muscles {
		flex-wrap: wrap;
	}
}