@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #4891ff;
  --light-color: #b0b3b8;
  --dark-color: #111;

  --text-color: #fff;

}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  background-color: #050505;
  color: white;

}


img {
  max-width: 100%;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.text-xxl {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
  margin: 40px 0 20px;
}

.text-xl {
  font-size: 2.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 40px 0 20px;
}

.text-lg {
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 30px 0 20px;
}

.text-md {
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 20px 0 10px;
}

.text-sm {
  font-size: 0.9rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 10px 0 5px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.container-md{
  width: 80%;
  margin: 0 auto;
}

.section-one,
.section-two,
.section-three {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* .btn {
  display: inline-block;
  padding: 13px 20px;
  background: var(--text-color);
  color: #333 !important;
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;

} */

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 13px 20px;
  color: #333 !important;
  background-color: var(--light-color);
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: 0.5s;
 width: 150px !important;
}

.button--blue {
  background-color: var(--primary-color);
  color: white;
}

.button--gray {
  background-color: var(--light-color);
}



.hero {
  background-image: url('../img/hero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__content {

  text-align: center;
}



.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 0px;
  height: 100px;
  flex-wrap: wrap;
  color: var(--text-color);
  top: 0;
}


.header__logo {

}


.header__nav {
  order: 2;
}


.header__nav-list {
  display: flex;
  align-items: center;
  gap: 2em;
}

.header__nav-item {
  font-weight: 600;
}

.header__nav-link {
  color: var(--text-color);
}



.header__nav-link:hover {
  color: var(--primary-color);
}

.header__nav-link i {
  margin-right: 10px;
}


.contact {
  order: 3;
}


.section-one {
  text-align: center;
  /* background-color: #333; */
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.section-one__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.section-two {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  gap: 2em;
}


.section-three * {

  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
}

.section-three__texts {
  text-align: center;
  margin-bottom: 2em;
}

.faq__button {
  background-color: var(--light-color);
  width: 100%;
  cursor: pointer;
  width: 100%;
  padding: 1rem;
  border: none;
  color: rgb(0, 0, 0, 0.8);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.faq__button i {
  font-size: 1.5em;
}

.active, .faq__button:hover {
  background-color: rgb(202, 202, 202);

}

.pannel {
  color: var(--text-color) !important;
  padding: 0.5em 1em 2em 1em;

  overflow: hidden;

  display: none;
}

.faq {
  margin: 10px 0;
}

.faq.active {
  border: none;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;

  gap: 2.5em;
  margin-bottom: 50px;
}

.footer__thumbnail{
 width: 150px;
 align-self: center;
}

.footer__image{
  width: 100%;
  object-fit: cover;
}

.footer__list{
  display: flex;
  flex-direction: column;

  gap: .4em;
}

.footer__list * {
  color: var(--text-color) !important;
  text-align: left ;
}

.footer__list-item {
  margin: .1em 0;
}

.footer__list p {
  font-weight: bold;
  margin-bottom: .6em;
}

.footer__list-social {
  display: flex;
  gap: 0.8em;
  font-size: 1.5em;
}


/*Rango abiertos*/

@media screen and (min-width: 767px) {

  .container {
    width: 90%;
  }

  .container-md{
    width: 60%;
  }
  

  .header__logo {
    order: 2;
      position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%); 
  order: 1;
  }
  
  .header__nav {
    order: 1;
  }
  
  .contact {
    order: 3;
  }

  .section-two {
    display: flex;
    text-align: left;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50vh;
    gap: 4em;
  }

  .section-two__texts{
    flex: 50%;
  }
  .section-two__thumbnail{
    flex: 50%;
    height: 80%;
  }

  .section-two__image{
    height: 100% !important;
    object-fit: cover;
    width: 100%;
  }
  


  .footer{
    flex-direction: row;
    border-top: 1px solid rgba(255, 255, 255, 0.301);
    padding-top: 50px;
  }

}